<IfModule mod_rewrite.c>
    RewriteEngine On

    # Allow direct access to existing files
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Otherwise route everything to Symfony front controller
    RewriteRule ^ index.php [L]
</IfModule>
